@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes carousel {
  0%, 26.66% {
    opacity: 1;
  }
  33.33%, 93.33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-900 dark:text-gray-100 antialiased;
}

::selection {
  @apply bg-[#990000] text-white;
}